*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

a{
    outline: none;
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

:focus {
  outline: -webkit-focus-ring-color auto 0px ;
}
body{
  background-color: #F8F8F8;
  min-height: 100vh;
}

body:before{
  content: "";
  display:none;
  width:100%;
  height:100vh;
  position: fixed;
  left:0;
  top:0;
  background-color: rgba(0,0,0,.4);
  z-index: 50;
  opacity: 1;
}

body.dark{
  position: relative;
}

body.dark:before{
  display: block;
}

.section-title{
  font-family: Spectral, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 68px;
  line-height: 72px;
  color: #202020;
  text-align: center;
  margin-bottom: 30px;
}

@media(max-width: 991px){
  .section-title{
    font-size: 54px;
  }
}

@media(max-width: 400px){
  .section-title{
    font-size: 40px;
  }
}

.aside{
  width:320px;
  height:100vh;
  position: fixed;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
  transition: left ease .5s;
  z-index:31;
}

@media(min-width: 1200px){
  .dark .aside:not(.opened){
    z-index:2;
  }
}

@media(max-width: 1200px){
  .aside{
    left:-100%;
    z-index: 50;
  }

  .aside.opened{
    left:0;
  }
}

.logo{
  margin-top: 36px;
}

.menu{
  margin-top: 37px;
  position: relative;
  width:100%;
  padding-bottom: 30px;
}

.close-btn{
  width:45px;
  height:45px;
  position: absolute;
  top:-150px;
  right: 10px;
  border-radius:50%;
  border:2px solid #1C498A;
  display:none;
  align-items: center;
  justify-content: center;
  color: #1C498A;
}

@media(max-width: 1200px){
  .close-btn{
    display:flex;
  }
}

.menu__list{
  list-style: none;
  padding-left: 0;
  margin-top: 0;
}

.menu-item{
    transition: .3s;
}

.menu-item:hover{
    background-color: #F8F8F8;
}

.menu-item__link {
  display: flex;
  padding: 30px 5px;
  align-items: center;
  text-decoration: none;
  color: #202020;
  position: relative;
  border-top: 1px dashed #CACACA;
  transition: .3s;
  font-weight: 500;
  margin: 0 50px;
}

.menu-item:last-of-type .menu-item__link{
  border-bottom: 1px dashed #CACACA;
}

.menu-item__icon {
  color: #1C498A;
  font-size: 30px;
  position:absolute;
  left:0;
  top: 50%;
  transform: translateY(-50%);
}

.menu-item__title{
  font-family: 'Spectral', serif;
  padding-left:50px;
}

.wrapper{
  padding-left:320px;
}

@media(max-width: 1200px){
  .wrapper{
    padding-left:0;
  }
}

.mobile-header{
  display:none;
  width:100%;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding:25px;
}

@media(max-width: 1200px){
  .mobile-header{
    display:flex;
  }
}

.mobile-header .main-navigation-btn{
  width:45px;
  height:45px;
  border-radius: 50%;
  background-color: #1C498A;
  color: #fff;
  display:flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mobile-header__phone{
  width:45px;
  height:45px;
  border-radius: 50%;
  background-color: #1C498A;
  display:flex;
  justify-content: center;
  align-items: center;
}

.mobile-header__phone a{
  color: #fff;
}

.mobile-header .logo{
  margin-top: 0;
}

.mobile-header .logo img{
  width:100px;
  height:auto;
}

.header{
  display:flex;
  padding:46px 57px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #EBEBEB;
}

.header.fixed{
  position: fixed;
  top:0;
  z-index:20;
  background-color: #fff;
  width: 100%;
  left:0;
  padding:20px 57px 20px 340px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

@media(max-width: 1200px){
  .header{
    padding:15px;
    background-color: #1C498A;
    border:none;
  }
}

@media(max-width: 1200px){
  .header.fixed{
    padding: 15px;
    background-color: #1C498A;
  }
}

@media(max-width: 1200px){
  .main-navigation{
    width:320px;
    position: fixed;
    left:-100%;
    top:0;
    height:100%;
    transition: left ease .5s;
    background-color: #fff;
    align-items: center;
    z-index: 50;
    display:flex;
    flex-direction: column;
  }

  .main-navigation.opened{
    left:0;
  }
}

.main-navigation .logo{
  display: none;
}

@media(max-width: 1200px){
  .main-navigation .logo{
    display:block;
    margin-bottom:30px;
  }
}

.main-navigation__list{
  list-style: none;
  display:flex;
  flex-wrap: wrap;
  position: relative;
}

.main-navigation__list .close-btn{
  top: -140px;
  right:5px;
}

@media(max-width: 1200px){
  .main-navigation__list{
    flex-direction: column;
    align-items: center;
    width:100%;
  }
}

.main-navigation__item{
  margin:0 25px;
  position:relative;
}

@media(max-width: 1200px){
  .main-navigation__item{
    margin: 0;
    border-top: 1px dashed #CACACA;
    width: 100%;
    text-align: center;
  }

  .main-navigation__item:last-of-type{
    border-bottom: 1px dashed #CACACA;
  }
}

.main-navigation__item:before,
.main-navigation__item:last-of-type:after{
  content: "";
  display: block;
  width: 5px;
  height:5px;
  background: #DA2229;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
}

@media(max-width: 1200px){
  .main-navigation__item:before,
  .main-navigation__item:last-of-type:after{
    display:none;
  }
}

.main-navigation__item:before{
  left:-27px;
}

.main-navigation__item:last-of-type:after{
  right:-27px;
}

.main-navigation__link{
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
}

.main-navigation__link:hover{
  color: #3A68AA;
}

@media(max-width: 1200px){
  .main-navigation__link{
    display:block;
    padding:30px 0;
  }
}

.mobile-catalog-btn{
  font-family: 'Spectral', serif;
  font-weight: 600;
  font-size: 15px;
  color: #1C498A;
  background-color: #fff;
  padding:10px 20px;
  border-radius: 10px;
  display:none;
  align-items: center;
  cursor: pointer;
}

@media(max-width: 1200px){
  .mobile-catalog-btn{
    display:flex;
  }
}

.mobile-catalog-btn i{
  font-size: 18px;
}

.socials{
  list-style: none;
  display:flex;
  align-items: center;
  font-size: 15px;
}

@media(max-width: 500px){
  .socials{
    display:none;
  }
}

.socials__item{
  padding: 5px 10px;
}

.socials__item:first-of-type{
  border-right:1px solid #dedede;
}

@media(max-width: 1200px){
  .socials__item:first-of-type{
    border-right:none;
  }
}

.socials__link{
  color: #202020;
  text-decoration: none;
}

.socials__link:hover{
  color: #3A68AA;
}

@media(max-width: 1200px){
  .socials__link{
    color: #1C498A;
    background-color: #fff;
    width:45px;
    height:45px;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
  }
}

.icon-social{
  color:#1C498A;
  margin-right:10px;
}

@media(max-width: 1200px){
  .icon-social{
    margin-right:0;
  }
}

@media(max-width: 1200px){
  .icon-social{
    color:#1C498A;
  }
}

@media(max-width: 1200px){
  .icon-tripadvisor{
    margin-left: -5px;
  }
}

@media(max-width: 1499px){
  .socials span{
    display:none;
  }
}

.phone-cart-block{
  list-style: none;
  display:flex;
  font-size: 15px;
}

.phone-cart-block__item{
  padding: 5px 10px;
}

.phone-cart-block__item:first-of-type{
  border-right:1px solid #dedede;
}

@media(max-width: 1200px){
  .phone-cart-block__item:first-of-type{
    display:none;
  }
}

.phone-cart-block__link{
  text-decoration: none;
}

.phone-cart-block__link span{
  color: #202020;
  font-family: 'Spectral', serif;
  font-weight: 600;
}

@media(max-width: 1200px){
  .phone-cart-block__link span{
    color: #ffffff;
  }
}

.phone-cart-block i{
  margin-right:5px;
  color:#1C498A;
}

@media(max-width: 1200px){
  .phone-cart-block i{
    color:#ffffff;
  }
}

@media(max-width: 1400px){
  .phone-cart-block__item--phone span{
    display:none;
  }
}

@media(max-width: 1200px){
  .header-cart a{
    display:flex;
    align-items: center;
  }
}

@media(max-width: 1200px){
  .header-cart i{
    width:45px;
    height:45px;
    color: #1C498A;
    background-color: #fff;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 16px;
  }
}

.cart-header .header-cart i{
    display:inline;
}

.header-cart__title{
  font-family: inherit
}

@media(max-width: 1400px){
  .header-cart__title{
    display:none;
  }
}

span.header-cart__price{
  font-family: inherit;
  color: #1C498A;
  text-decoration: underline;
}

@media(max-width: 1200px){
  .header span.header-cart__price{
    color: #fff;
  }
}

span.header-cart__price:hover{
  color: #3A68AA;
}

.footer{
  display:flex;
  align-items: center;
  justify-content: flex-start;
  padding:25px 57px;
  border-top: 1px solid #EBEBEB;
  margin-top: 20px;
}

@media(max-width: 800px){
  .footer{
    padding:46px 30px;
  }
}

@media(max-width: 768px){
  .footer{
    flex-direction: column;
  }
}

.footer .logo{
  margin-top: 0;
}

.footer .logo img{
  width:172px;
  height:auto;
}

.forest-logo{
  margin-right:auto;
  margin-left:50px;
}

@media(max-width: 768px){
  .forest-logo{
    margin: 20px 0;
  }
}

.forest-logo__link{
  display:flex;
  align-items: center;
  text-decoration: none;
  color: #202020;
  font-size: 15px;
}

.footer-phone-block{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
}

@media(max-width: 768px){
  .footer-phone-block{
    margin-left:-40px;
  }
}

.footer-phone-block__phone{
  font-family: Spectral, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
  color: #202020;
  text-decoration: none;
}

.footer-phone-block__phone i{
  color: #1C498A;
}

.footer-phone-block__desc{
  display:block;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #A0A0A0;
}

.main{
  min-height:800px;
}

.main-slider{
  border-radius: 20px;
  width: 100%;
  overflow: hidden;
}

@media(max-width: 1200px){
  .main-slider{
    border-radius: 0;
    margin-top: -1px;
  }
}

.main-slider .slick-dots{
  bottom:100px;
  display:flex;
  left:90px;
}

.main-slider .slick-dots button:before{
  display:none;
}

@media(max-width: 1200px){
  .main-slider .slick-dots{
    display:none !important;
  }
}

.main-slider .slick-dots button{
  background-color: #fff;
  opacity: 0.3;
  transition:opacity ease .5s;
  color: #fff;
}

.main-slider .slick-dots button:hover{
  opacity:0.7;
}

.main-slider .slick-dots .slick-active button{
  background: #DA2229;
  opacity:1;
}

.main-slider img{
  width:100%;
  height:auto;
}

.advanced-block{
  display:flex;
  justify-content: space-evenly;
  list-style: none;
  transform: translateY(-50px);
}

@media(max-width: 991px){
  .advanced-block{
    flex-direction: column;
    align-items: center;
  }
}

.advanced-block__item{
  flex: calc(100% / 3 - 5px * 3) 0 0;
  background-color: #fff;
  background-image: url('../img/adv-bg-1.png'), url('../img/adv-bg-2.png');
  background-size: auto 90%;
  background-position: 5% center, 95% center;
  background-repeat: no-repeat;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

@media(max-width: 991px){
  .advanced-block__item{
    width:90%;
    background-size: auto 70%;
    margin-bottom: 20px;
  }
  
  /* .order-page__main{
      overflow:hidden;
  } */
}

.advanced-block__item i{
  width:50px;
  height:50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1C498A;
  color: #fff;
  border-radius: 50%;
  font-size: 18px;
}

.advanced-block__item i.icon-tripadvisor{
  background-color: #34E0A1;
}

.advanced-block__item i.icon-yandex{
  background-color: #ED1F24;
}

.advanced-block__item i.icon-google{
  /*background-color: #EA4335;*/
  background: linear-gradient(to bottom, #fcc932 0%, #fcc932 50%, #34a855 50%, #34a855 100%);
  position:relative;
  overflow: hidden;
}

.advanced-block__item i.icon-google:before{
    z-index:3;
}

.advanced-block__item i.icon-google:after{
    width:50%;
    height:100%;
    content: "";
    display:block;
    position:absolute;
    right:0;
    top:0;
    z-index:2;
    background: linear-gradient(to bottom, #ea4436 0%, #ea4436 50%, #3b75d8 50%, #3b75d8 100%);
}

.advanced-block__item i.icon-tripadvisor:before{
  transform:translateX(-3px);
}

.advanced-block__text{
  display:inline-block;
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  color: #202020;
  max-width: 80px;
  margin:0 15px;
  text-align: center;
}

.advanced-block__rating{
  font-family: Spectral, serif;
  font-size: 42px;
  line-height: 36px;
  text-align: center;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #202020;
}

.products-list{
  display:flex;
  flex-wrap: wrap;
  padding:1px 20px 0 20px;
  max-height: none;
  overflow-y: hidden;
  position: relative;
  align-content: flex-start;
}

.products-list.limited:after{
  content:"";
  display:block;
  width:calc(100% - 43px);
  height:50px;
  background: linear-gradient(to top, rgba(248, 248, 248, 1) 0%, rgba(248, 248, 248, .8) 100%);
  position: absolute;
  bottom:0;
  z-index:50;
}

.open-all-btn{
  display:none;
}

.products-list.limited{
  overflow: hidden;
}

.products-list.limited ~ .open-all-btn{
  color: #1C498A;
  background-color: transparent;
  border:none;
  font-size: 18px;
  margin:10px auto;
  display:block;
}

.open-all-btn__text{
  font-family: Spectral, serif;
  font-weight: 700;
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
}

.product-item{
  width: calc(100% / 4);
  /* height:420px; */
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid #EBEBEB;
  margin-left:-1px;
  margin-top:-1px;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
}

.product-item__wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
}

.product-item::after{
    content: "";
    padding-top: 115%;
    float: left;
}

@media(max-width: 1600px){
  .product-item{
      width: calc(100% / 3);
      height: 420px;
  }
}

@media(max-width: 1200px){
  .product-item{
      width: calc(100% / 4);
      height: 420px;
  }
}

@media(max-width: 991px){
  .product-item{
      width: calc(100% / 3);
  }
}

@media(max-width: 768px){
  .product-item{
      width: calc(100% / 2);
  }
}

@media(max-width: 450px){
  .product-item{
      width: calc(100%);
  }
}

.product-item__photo{
  position:relative;
  z-index:1;
  margin: 15px 15px 0 15px;
  width:calc(100% - 30px);
}

.product-item__photo a:after{
  width:180px;
  height:44px;
  font-family: Spectral, serif;
  content: "Быстрый просмотр";
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-weight: 600;
  font-size: 14px;
  position:absolute;
  top:50%;
  left:50%;
  transform: translate(-90px, -22px) scale(0.7);
  background: rgba(255, 255, 255, 0.82);
  border-radius: 5px;
  border: 1px solid #FFFFFF;
  cursor:pointer;
  opacity:0;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -ms-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  color: #000;
}

.product-item__photo:hover a:after{
  opacity:1;
  transform: translate(-90px, -22px) scale(1);
}

.product-item__img{
  display:block;
  max-width:100%;
  height:auto;
  border-radius: 10px;
  z-index: 21;
  width:100%;
}

.product-item__info{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index:19;
  cursor:pointer;
  padding:10px 15px 15px 15px;
  background: rgba(248, 248, 248, 0.9);
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  width:100%;
  min-height:400px;
  margin-left:1px;
  position: relative;
}

.product-item__form{
    position: absolute;
    bottom: 20px;
    right: 15px;
    z-index: 19;
}

@media(min-width: 1201px){
    .product-item__info:hover{
      margin-top:-160px;
    }
}

.product-item__add-btn {
  width: 55px;
  height: 55px;
  background: #1C498A;
  box-shadow: 0 4px 14px rgba(28, 73, 138, 0.4);
  border-radius: 43px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  cursor: pointer;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  border:none;
  /* position: absolute;
  bottom:20px;
  right:25px; */
}

.product-item__add-btn:hover{
  background-color: #3A68AA;
}

.product-item__title{
  margin-top: 5px;
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.product-item__volume{
  display:none;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-top: 10px;
  transition-delay: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}

.product-item__info:hover .product-item__volume{
  display:block;
}

.product-item__desc{
  display:none;
  font-weight: 300;
  font-size: 14px;
  line-height: 22px;
  margin-top: 15px;
  transition-delay: .5s;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  max-width: 75%;
}

@media(min-width: 1201px){
    .product-item__info:hover .product-item__desc{
      display:block;
    }
}

.product-item__price-block{
  margin-top: 25px;
}

.price-block{
  display:flex;
  list-style: none;
  justify-content: space-between;
  flex-wrap: wrap;
}

.price-block__price{
  font-family: Spectral, serif;
  font-weight: 600;
  font-size: 28px;
  line-height: 24px;
  color: #202020;
}

.price-block__price--sale-price{
  color: #DA2229;
}

.price-block__old-price{
  font-family: Spectral, serif;
  position: relative;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #A0A0A0;
  margin-left:20px;
}

.price-block__old-price:after{
  content:"";
  display:block;
  height:2px;
  width:100%;
  background-color: #1C498A;
  position:absolute;
  top:48%;
  left:0;
}

.about{
  margin-top: 70px;
  display:flex;
  align-items: center;
}

@media(max-width: 768px){
  .about{
    flex-direction: column;
    position:relative;
  }
}

.about-image-block{
  flex: 50% 0 0;
  border-radius: 0 20px 20px 0;
  overflow: hidden;
}

@media(max-width: 1400px){
  .about-image-block{
    flex: 700px 0 0;
  }
}

@media(max-width: 768px){
  .about-image-block{
    flex: 100% 0 0;
  }
}

.about-image-block img{
  width:100%;
  height:auto;
}

.about-text-block{
  flex: calc(50% + 70px) 0 0;
  transform: translateX(-120px);
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  padding: 50px 65px 80px 100px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
}

.about-text-block::after {
  content: "";
  width: 100%;
  height: 10px;
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  background-image: url(../img/bottom-line.svg);
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
}

@media(max-width: 1400px){
  .about-text-block {
    transform: translate(-30px, 70px);
    position: absolute;
    right: 0;
    display: block;
    max-width: 50%;
  }
}

@media(max-width: 850px){
  .about-text-block{
    max-width: calc(100% - 130px);
  }
}

@media(max-width: 768px){
  .about-text-block{
    position: static;
    max-width: 100%;
    padding: 30px;
    border-radius: 30px 0 0 30px;
    transform: translateY(-30px);
  }
}

.about-text-block__title{
  font-family: Spectral, serif;
  font-weight: bold;
  font-size: 56px;
  line-height: 72px;
}

.about-text-block__text{
  font-weight: 300;
  font-size: 16px;
  /* line-height: 24px; */
  line-height: 1.5em;
  margin-top: 10px;
}

.about-text-block__btn{
  margin-top: 15px;
}

.btn{
  font-weight: 900;
  font-size: 13px;
  line-height: 18px;
  color: #fff;
  display:inline-block;
  padding: 15px 40px;
  text-transform: uppercase;
  text-decoration: none;
  background: #DA2229;
  border-radius: 5px;
  border:none;
  cursor: pointer;
}

@media(max-width: 400px){
    .btn{
        font-size: 12px;
        padding: 15px 30px;
    }
}

.btn:hover{
  background-color: #E16469;
}

.top-fact{
  width: 188px;
  height: 207px;
  position: absolute;
  right: calc(100% - 75px);
  top:50%;
  transform: translateY(-50%);
  list-style: none;
  background-image: url(../img/subtract-form.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #fff;
  text-align:center;
  padding:30px 45px;
}

@media(max-width: 768px){
  .top-fact{
    top: 0;
    transform: translateY(-280%);
    right: 15px;
  }
}

@media(max-width: 400px){
  .top-fact {
    top: 0;
    transform: translateY(-120%);
    right: -15px;
  }
}

.top-fact__title{
  font-weight: bold;
  font-size: 68px;
  font-family: Spectral, serif;
  padding:0 30px;
  border-top: 3px solid #fff;
}

.top-fact__text {
  font-size: 14px;
  line-height: 18px;
  border-bottom: 3px solid #fff;
  padding-bottom:10px;
}

.contacts{
  margin-top: 30px;
  position:relative;
}

.main__contacts{
  margin-top: 150px;
}

@media(max-width: 991px){
  .contacts{
    margin-top: 50px;
  }
}

#map{
  width:100%;
  height:600px;
}

.contacts-block {
  width: 350px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100px;
  background-color: #fff;
  border-radius:10px;
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.15);
  z-index:5;
  overflow: hidden;
}

@media(max-width:768px){
  .contacts-block{
    position:static;
    transform: none;
    width:calc(100% - 30px);
    margin:10px auto;
    text-align: center;
  }
}

.contacts-block__inner{
  padding: 20px;
  position:relative;
}

.contacts-block__inner:after{
  content:"";
  width:100%;
  height:10px;
  display:block;
  position:absolute;
  left:0;
  bottom:0;
  background-image: url(../img/bottom-line.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

@media(max-width: 768px){
  .contacts-block__inner:after{
    background-size: cover;
  }
}

.contacts-block__item{
  padding: 30px 0;
}

.contacts-block__item:not(:last-of-type){
  border-bottom: 1px dashed #CACACA;
}

.contacts-block__item:not(.phone-block){
  display:flex;
  justify-content: flex-start;
}

@media(max-width: 768px){
  .contacts-block__item:not(.phone-block){
    justify-content: center;
  }
}

.contacts-block__item:not(.phone-block) .contacts-block__text{
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  text-align: left;
}

.contacts-block__item:not(.phone-block) i{
  margin-right: 10px;
}

.contacts-block__elements{
  list-style: none;
}

.contacts-block__title{
  font-family: Spectral, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #202020;
}

.phone-block__phone{
  color: #202020;
  font-family: Spectral, serif;
  font-style: normal;
  font-weight: 600;
  font-size: 23px;
  line-height: 26px;
  text-decoration: none;
}

.phone-block__desc{
  font-weight: 300;
  font-size: 14px;
  line-height: 18px;
  padding-left: 30px;
  display: block;
  color: #A0A0A0;
}

.contacts-block .icon-font{
  font-size: 16px;
  color: #1C498A;
}

.breadcrumbs {
  padding: 15px 57px;
  list-style: none;
  display:flex;
  margin-top:30px;
  flex-wrap: wrap;
}

@media(max-width: 1200px){
  .breadcrumbs{
    padding:15px 25px;
  }
}

.breadcrumbs__item{
  font-weight: normal;
  font-size: 14px;
  line-height: 22px;
  color: #202020;
}

.breadcrumbs__link{
  text-decoration: none;
  color: #1C498A;
  position: relative;
}

.breadcrumbs__link:not(:first-of-type){
   padding-left:40px;
 }

.breadcrumbs__link{
  padding-right:40px;
}

.breadcrumbs__link:after{
  content: "";
  display:block;
  height:16px;
  width:1px;
  background-color: #A0A0A0;
  position: absolute;
  top:50%;
  right:20px;
  margin-top:-8px;
  transform:rotate(30deg);
}

.info-block{
  display: flex;
  margin-top:30px;
  align-items: flex-start;
}

@media(max-width: 1200px){
    .info-block{
        flex-direction: column-reverse;
    }
}

.info-block__textpage{
  margin-right: 50px;
}

.info-block__nav{
  width:350px;
  flex-shrink: 0;
  margin-left:50px;
  margin-right: 30px;
}

.info-block__nav-inner{
  box-shadow: 0 4px 50px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
  background-color: #fff;
}

@media(max-width: 1200px){
  .info-block__nav{
    width: calc(100% - 80px);
  }
}

.info-block__nav-list{
  list-style: none;
  padding-left:0;
}

.info-block__nav-item{
  padding:0 40px;
}

.info-block__nav-link{
  width:100%;
  height:100%;
  display:block;
  font-family: Spectral, serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #202020;
  text-decoration: none;
  padding:20px 0;
}

.info-block__nav-link:hover{
  color: #3A68AA;
}

.info-block__nav-item:first-of-type .info-block__nav-link{
  padding-top: 40px;
}

.info-block__nav-item:last-of-type .info-block__nav-link{
  padding-bottom: 40px;
}

.info-block__nav-item:not(:last-of-type) .info-block__nav-link{
  border-bottom: 1px dashed #CACACA;
}

.page-title{
  font-family: Spectral, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #202020;
  padding: 15px 57px;
  margin:15px 0;
}

@media(max-width: 1200px){
  .page-title{
    padding: 15px 25px;
  }
}

.info-block__content{
  flex-grow: 1;
  margin-left:50px;
}

@media(max-width: 1200px){
  .info-block__content{
    margin:0 30px;
  }
}

.info-block__content img{
  width:100%;
  height:auto;
  border-radius: 10px;
}

.info-block__content p{
  font-family: Raleway, serif;
  font-weight: 300;
  font-size: 14px;
  /* line-height: 24px; */
  line-height: 1.5em;
  color: #202020;
  margin-top: 30px;
  font-size: 17px;
}

.info-block__content h3{
  font-family: Spectral, serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #202020;
  margin-top:30px;
}

.info-block__content li{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #202020;
}

.info-block__content ul{
  list-style-type: square;
}

.info-block__content ul li{
  margin-top:20px;
}

.info-block__content ul li::marker{
  color: #DA2229;
}

.info-block__content ol li{
  margin-top: 20px;
}

.info-block__content ol li::marker{
  font-size: 16px;
}

.info-block__content hr{
  margin:30px 0;
  display:block;
  border: none;
  border-top: 1px dashed #CACACA;
}

.info-block__content blockquote{
  position: relative;
  font-family: Spectral, serif;
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  color: #202020;
  border: 5px solid #CCD5E2;
  box-sizing: border-box;
  border-radius: 5px;
  padding:30px;
  margin-top:50px;
}

@media(max-width: 991px){
    .info-block__content blockquote{
       font-size: 16px;
       line-height: 24px;
       padding:30px 15px;
    }
}

@media(max-width: 500px){
    .info-block__content blockquote{
       font-size: 14px;
       line-height: 20px; 
    }    
}

.info-block__content blockquote:after{
  font-family: "icon-font", sans-serif;
  content: "\E80B";
  padding:10px;
  color: #1C498A;
  font-size: 50px;
  position: absolute;
  top:-25px;
  left:20px;
  background-color: #F8F8F8;
}

.info-block__content .gallery{
  display:flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 15px;
}

.info-block__content .gallery__item{
  position: relative;
  padding-bottom:25%;
  flex: calc(100% / 3 - 5px*3) 0 0;
  margin:5px;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

@media(max-width: 991px){
  .info-block__content .gallery__item{
    flex: calc(100% / 2 - 5px*2) 0 0;
    padding-bottom:30%;
  }
}

@media(max-width: 500px){
  .info-block__content .gallery__item{
    flex: 100%;
    padding-bottom: 62%;
  }
}

.info-block__content .gallery__item a{
    position:absolute;
    left:0;
    right: 0;
    top:0;
    bottom:0;
}

.info-block__content .gallery__item a:after{
  font-family: "icon-font", sans-serif;
  width:100%;
  height:100%;
  content: "\E804";
  display:flex;
  align-items: center;
  justify-content: center;
  background: #1C498A;
  position: absolute;
  top:0;
  left:0;
  color: #fff;
  font-size: 30px;
  opacity:0;
  transition: .5s;
}

.info-block__content .gallery__item:hover a:after{
  opacity: 0.8;
  transform: scale(2);
}

.info-block__content .gallery__item img{
  position: absolute;
  width:120%;
  height:auto;
  left:50%;
  top:50%;
  transform:translate(-50%, -50%);
}

.info-block__content table{
  text-align:left;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  color: #202020;
  border-collapse: collapse;
  margin-top: 20px;
}

.info-block__content table tr:nth-child(odd){
  background-color: #fff;
}

.info-block__content table tr:first-of-type{
  color: #fff;
  font-weight: bold;
  border-radius:10px;
}

.info-block__content table tr:first-of-type th:first-of-type{
  border-radius:10px 0 0 10px;
  background-color: #1C498A;
}

.info-block__content table tr:first-of-type th:last-of-type{
  border-radius:0 10px 10px 0;
  background-color: #1C498A;
}

.info-block__content table th,
.info-block__content table td{
  padding:10px;
}

.info-block__content table tr td:nth-child(even){
  font-weight: bold;
}

.title-block{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 800px){
  .title-block{
    flex-direction: column;
    align-items: flex-start;
  }
}

.title-block__filter{
  display:flex;
  align-items:center;
  margin-right:25px;
}

@media(max-width: 800px){
  .title-block__filter{
    margin-left:25px;
    margin-bottom:15px;
  }
}

@media(max-width: 400px){
  .title-block__filter{
    flex-direction: column;
    align-items: flex-start;
  }
}

.title-block__filter label{
  font-size: 16px;
  line-height: 18px;
  color: #202020;
  margin-right: 15px;
}

@media(max-width: 400px){
  .title-block__filter label{
    margin-bottom: 10px;
  }
}

.nice-select{
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  font-weight: 500;
  font-size: 16px;
  color: #A0A0A0;
  min-width:250px;
  padding-right:45px;
}

.nice-select:after{
  right: 20px;
  border-color: #1C498A transparent transparent;
}

.nice-select span.current{
  border-right:1px solid #EBEBEB;
}

.nice-select:hover span{
  color: #1C498A;
}

.nice-select .option{
  color: #000000 !important;
}

.nice-select .option.selected{
  color: #1C498A !important;
}

.nice-select .option:hover{
  color: #DA2229 !important;
}

.cart{
  position: fixed;
  height:100vh;
  width:500px;
  background-color: #fff;
  top:0;
  right:-100%;
  z-index:60;
  box-shadow: 0 4px 94px rgba(0, 0, 0, 0.25);
  padding:25px;
  transition: right ease .5s;
}

.cart.opened{
  right:0;
}

@media(max-width: 510px){
  .cart{
    width:100%;
    padding:10px;
    box-shadow:none;
  }
}

.cart-header{
  display:flex;
  justify-content: space-between;
}

.cart-header__close-btn{
  background-color: #fff;
  border: 1px solid rgba(28, 73, 138, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  padding:10px 15px;
  color: #1C498A;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}

.cart-header .header-cart{
  border-right:none;
}

@media(max-width: 1200px){
  .cart-header .header-cart{
    display:block;
  }
}

.cart-header .header-cart .phone-cart-block__link{
  color: #1C498A;
}

.cart-footer{
  margin-top:30px;
}

.cart__sum{
  font-family: Spectral, serif;
  font-weight: 300;
  font-size: 30px;
  line-height: 24px;
  text-align: center;
  color: #202020;
}

@media(max-width: 470px){
  .cart__price{
    display: block;
    margin-top: 20px;
  }
}

.cart__price{
  font-family: Spectral, serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 24px;
}

.cart__order-desc{
  font-weight: 300;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #202020;
  margin-top: 15px;
}

.cart__btn{
  width:100%;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 50px;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
  background-color: #B9C3D1 !important;
}

.cart__products-list{
  margin-top: 20px;
}

.cart-item{
  position: relative;
  display:flex;
  /*justify-content: space-between;*/
  padding:30px 0;
  border-top:1px dashed #CACACA;
}

@media(max-width: 470px){
  .cart-item{
    flex-direction: column;
    align-items: center;
  }
}

.cart-item:last-of-type{
  border-bottom:1px dashed #CACACA;
}

.cart-item__img{
  width:130px;
  height:100px;
  border-radius: 10px;
}

@media(max-width: 470px){
  .cart-item__img{
    width:260px;
    height:200px;
  }
}

.cart-item__close-btn{
  position: absolute;
  top:30px;
  right:10px;
  cursor: pointer;
  color: #DEDEDE;
}

@media(max-width: 470px){
  .cart-item__close-btn{
    top:10px;
    right:0;
  }
}

.cart-item__close-btn:hover{
  color: #3A68AA;
}

.cart-item__info{
  margin-left:20px;
  flex-basis: 233px;
}

.cart-item__title{
  font-weight: 300;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  max-width: calc(100% - 50px);
}

@media(max-width: 470px){
  .cart-item__title{
    margin-top: 10px;
  }
}

.cart-item__price-block{
  display:flex;
  justify-content: space-between;
  align-items: center;
  margin-top:10px;
}

.cart-item__price{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  /* margin-top:15px; */
}

.cart-item__new-price{
  font-family: Spectral, serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 24px;
  color: #202020;
}

.cart-item__new-price--sale{
  color: #DA2229;
}

.cart-item__old-price{
  position: relative;
  font-family: Spectral, serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  color: #A0A0A0;
}

.cart-item__old-price:after{
  width:100%;
  height:2px;
  content: "";
  position: absolute;
  top:50%;
  left:0;
  margin-top:-1px;
  background-color: #1C498A;
}

.cart-item__count{
  position: relative;
  margin-left: 20px;
}

.cart-item__count input{
  text-align: center;
  border: 1px solid rgba(28, 73, 138, 0.2);
  box-sizing: border-box;
  border-radius: 5px;
  width:110px;
  padding:5px;
}

.cart-item__count input::-webkit-outer-spin-button,
.cart-item__count input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.cart-item__count input[type='number'] {
  -moz-appearance: textfield;
}

.cart-item__count button{
  background-color: transparent;
  border:none;
  color: #1C498A;
  font-size: 30px;
  font-weight: 500;
  position: absolute;
  padding:5px;
  cursor: pointer;
}

.cart-item__count .dec{
  top:0;
  left:0;
  line-height: .6;
}

.cart-item__count .inc{
  top:0;
  right:0;
  line-height: .8;
}

.product-card{
  display:flex;
  align-items: flex-start;
  list-style: none;
  margin-top: 20px;
}

@media(max-width: 991px){
  .product-card{
    flex-direction: column;
    align-items: flex-start;
  }
}

.product-image{
  flex-shrink: 0;
  width:500px;
  min-height: 400px;
  margin-left:30px;
}

@media(max-width: 550px){
  .product-image{
    width:100%;
    margin-left: 0;
  }
}

.product-image img{
  width:100%;
  height:auto;
  border-radius: 10px;
}

.product-info{
  margin: 0 30px;
}

.product-info__title{
  font-family: Spectral, serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 53px;
  color: #202020;
  margin: 15px 0;
}

.product-info__volume{
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.product-card__desc{
  font-weight: 300;
  font-size: 18px;
  line-height: 30px;
  font-feature-settings: 'pnum' on, 'lnum' on;
  color: #000000;
  margin: 20px 0;
}

.product-info__price-block{
  padding-top: 30px;
  border-top: 1px solid #DEDEDE;
  display:flex;
  align-items: center;
}

@media(max-width: 1500px){
  .product-info__price-block{
    flex-direction: column;
    align-items: flex-start;
  }
}

.product-info__price{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-shrink: 0;
}

.product-info__price-block form{
  flex-shrink: 0;
  margin-left:15px;
}

@media(max-width: 1500px){
  .product-info__price-block form{
    margin-left: 0;
  }
}

.product-info__sale-info{
  margin-left: 15px;
}

.product-info .btn{
  background-color: #1C498A;
  margin-left: 15px;
}

@media(max-width: 1500px){
  .product-info .btn{
    margin-left: 0;
    margin-top: 20px;
  }
}

.product-info .btn:hover{
  background-color: #3A68AA;
}

.product-info__new-price{
  font-family: Spectral, serif;
  font-weight: 600;
  font-size: 36px;
  line-height: 24px;
  color: #202020;
}

.product-info__new-price--sale{
  color: #DA2229;
}

.product-info__old-price{
  position:relative;
  font-family: Spectral, serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #A0A0A0;
  margin-top:10px;
  display: inline-block;
}

.product-info__old-price:after{
  content: "";
  width:100%;
  height:2px;
  position: absolute;
  top:50%;
  left:0;
  background-color: #1C498A;
}

.product-info__sale-info{
  margin-left: 30px;
  font-size: 16px;
  line-height: 24px;
  color: #202020;
}

@media(max-width: 1500px){
  .product-info__sale-info{
    margin-left: 0;
    margin-top: 20px;
  }
}

.product-info__sale-title{
  display:block;
  font-weight: 900;
}

.product__subtitle{
  font-family: Spectral, serif;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px;
  color: #202020;
  padding: 25px;
  margin-top: 50px;
}

.product-info__delivery-info{
  margin-top: 30px;
  border: 1px solid #EBEBEB;
  padding:30px;
}

.delivery-info{
  list-style-type: square;
}

.delivery-info__title{
  font-family: Spectral, serif;
  font-weight: 800;
  font-size: 18px;
  color: #202020;
}

.delivery-info li{
  margin-top: 20px;
  margin-left:15px;
  padding-left:5px;
}

.delivery-info li::marker{
  color: #1C498A;
}

.modal {
  display: none;
  max-width: 100%;
  width: 420px;
  border-radius: 10px;
}

@media(max-width: 450px){
  .modal {
    width:100%;
  }
}

.modal.fast-view-modal {
  width: 938px;
  padding: 30px 0 0 0;
}

@media(max-width: 991px){
  .modal.fast-view-modal {
    width: 100%;
  }
}

.modal .modal-title {
  margin: 0 0 30px;
  text-align: center;
  font-size: 16px;
  line-height: 1.4;
}

.order-success{
  background: radial-gradient(#769CD2, #1C498A);
}

.order-success__inner{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.order-success .fancybox-close-small{
  color: rgba(255,255,255,.2);
}

.order-success .modal-title{
  font-family: Spectral, serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 42px;
  color: #FFFFFF;
  text-align: center;
  margin:-10px 0 10px 0;
}

.order-success .modal-subtitle{
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
}

.fast-view-modal .product-card{
  padding:20px;
}

@media(max-width: 991px){
  .fast-view-modal .product-card{
    align-items: center;
  }
}

.fast-view-modal .product-image{
  width:50%;
  margin-left: 0;
}

@media(max-width: 500px){
  .product-info{
    margin:0;
  }
}

@media(max-width: 991px){
  .fast-view-modal .product-image{
    min-height: auto;
    width:60%;
  }
}

@media(max-width: 500px){
  .fast-view-modal .product-image{
    width:100%;
  }
}

.fast-view-modal .product-info__title{
  font-size: 30px;
  line-height: 36px;
}

.fast-view-modal .product-info__volume{
  font-weight: 300;
  font-size: 18px;
  line-height: 24px;
}

.fast-view-modal .product-card__desc{
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  margin-top: 5px;
}

.fast-view-modal .product-info__price-block{
  flex-direction: column;
  align-items: flex-start;
}

.fast-view-modal .product-info__price-block{
  border:none;
  padding-top:0;
}

.fast-view-modal .product-info__price{
  flex-direction: row;
  align-items: center;
}

.fast-view-modal .product-info__old-price{
  margin-left: 15px;
}

.fast-view-modal form{
  margin-left: 0;
  margin-top: 10px;
}

.fast-view-modal .btn{
  margin-left: 0;
}

.fast-view-modal .product-info__sale-info{
  margin-left: 0;
  margin-top: 15px;
}

.fast-view-modal .product-info__sale-title{
  display:inline-block;
}

.fast-view__see-all{
  display:block;
  padding:20px 0;
  font-family: Spectral, serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  text-align: center;
  color: #1C498A;
  text-decoration: none;
  border-top: 1px dashed #CACACA;
  transition: ease background-color .3s;
}

.fast-view__see-all:hover{
  background-color: #1C498A;
  color: #fff;
}

.order-header .logo{
  margin-top: 0;
}

.center-wrapper{
  margin:0 auto;
  width: 1140px;
}

@media(max-width: 1199px){
  .center-wrapper{
    width: 960px;
  }
}

@media(max-width: 991px){
  .center-wrapper{
    width: 720px;
  }
}

@media(max-width: 767px){
  .center-wrapper{
    width: 540px;
  }
}

@media(max-width: 575px){
  .center-wrapper{
    width: 100%;
  }
}

.order-header__inner{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 575px){
  .order-header__inner{
    flex-wrap: wrap;
  }

  .order-header__inner .logo{
    flex:100%;
    display:flex;
    justify-content: center;
  }
}

.order-header__inner .backward__link{
  margin-left:100px;
  margin-right: auto;
  text-decoration: none;
  font-family: Spectral, serif;
  font-weight: 600;
  font-size: 13px;
  line-height: 26px;
  color: #1C498A;
}

@media(max-width: 575px){
  .order-header__inner .backward__link{
    margin-left: 0;
  }
}

.order-footer__inner{
  display:flex;
  align-items: center;
  justify-content: space-between;
}

@media(max-width: 575px){
  .order-footer__inner{
    flex-direction: column;
  }
}

.order-page{
  display:flex;
  align-items: flex-start;
  margin: 50px 0;
}

@media(max-width: 991px){
  .order-page{
    flex-direction: column;
  }
}

.order-page__main{
  flex-grow: 1;
}

.order-summary__outer{
  width:400px;
  flex-shrink: 0;
}

@media(max-width: 991px){
  .order-summary__outer{
    width:100%;
  }
}

.order-summary{
  padding:20px 30px;
  position: relative;
  background-color: #fff;
  box-shadow: 0 4px 70px rgba(0, 0, 0, 0.05);
  border-radius: 2px;
}

.order-summary:before,
.order-summary:after{
  content: "";
  display:block;
  width:100%;
  height:20px;
  position: absolute;
  left:0;
  background-size: 100% auto;
}

.order-summary:before{
  top:-10px;
  background: url('../img/order_before.png') no-repeat;
  background-size: 100%;
}

.order-summary:after{
  bottom:-20px;
  background: url('../img/order_after.png') no-repeat;
  background-size: 100%;
}

.order-page .page-title{
  margin: 0;
  padding:0;
  line-height: 54px;
}

.order-summary__header{
  display:flex;
  justify-content: space-between;
  align-items:center;
  margin-bottom: 15px;
}

.order-summary__title{
  font-family: Spectral, serif;
  font-weight: bold;
  font-size: 30px;
  line-height: 36px;
  color: #202020;
}

.order-summary__summary-count{
  font-family: Spectral, serif;
  font-style: normal;
  font-weight: 300;
  font-size: 30px;
  line-height: 36px;
  color: #202020;
}

.order-summary__footer{
  font-family: Spectral, serif;
  font-weight: 300;
  font-size: 24px;
  line-height: 24px;
  color: #202020;
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
  flex-wrap: wrap;
}

.order-summary__sum-title{
  font-family: inherit;
}

.order-summary__sum{
  font-family: inherit;
  font-weight: bold;
  font-size: 30px;
  line-height: 24px;
  color: #202020;
}

.order-summary__footer .btn{
  flex:100% 0 0;
  margin-top: 20px;
}

.order-summary__footer .btn[disabled]{
  opacity: .4;
  pointer-events: none;
}

.order-summary__footer  .confidence{
  color: #202020;
  font-size: 14px;
  line-height: 18px;
  margin-top: 20px;
}

.order-summary__footer  .confidence a {
  color: #8C8C8C;
  font-weight: 800;
}

.order-summary__list{
  list-style: none;
}

.order-summary__item{
  padding:20px 0;
  border-top: 1px dashed #CACACA;
  border-bottom: 1px dashed #CACACA;
  margin-top: -1px;
  display:flex;
  justify-content: space-between;
  align-items: flex-start;
  width:100%;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
}

.order-summary__item span:not(:nth-child(2)){
  flex-shrink: 0;
}

.order-product-item__title{
    flex-grow:2;
}

.order-summary__item i{
  display: inline-block;
  width:30px;
  text-align: center;
}

.order-promo-item i{
  font-size: 18px;
}

.order-product-item__count{
  margin-right: 10px;
}

.order-product-item__price,
.order-delivery-item__price{
  font-weight: bold;
  margin-left: 20px;
}

.order-delivery-item__price--free{
  color: #409A8F;
}

.order-delivery-item__title{
  font-weight: bold;
}

.order-promo-item{
  border-bottom:none;
  align-items: center;
  flex-wrap: wrap;
  flex:100% 0 0;
}

.order-promo-item:last-of-type{
  border-top:none;
}

.order-promo-item__form{
  position:relative;
}

.order-promo-field{
  height:35px;
  width: 250px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  background-color: #fff;
  padding: 5px;
  box-sizing: border-box;
  font-size: 15px;
}

.order-promo-item__submit-btn{
  position: absolute;
  right:0;
  top:0;
  height:35px;
  background: #fff;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  color: #1C498A;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.order-promo-item__submit-btn:hover{
  background: #E3E9F2;
}

.order-promo-item__btn,
.order-promo-item__close-btn{
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  border:none;
  background: none;
  color: #6790CB;
  cursor: pointer;
  border-bottom: 1px dashed #6790CB;
}

.order-promo-item__btn:hover,
.order-promo-item__close-btn:hover{
  color: #1C498A;
}

.order-promo-item__price{
  display:none;
  font-weight: bold;
  color: #DA2229;
}

.order-promo-field__error{
  font-size: 12px;
  color: #DA2229;
  display:none;
  width:100%;
  margin-top: 3px;
}

.order-summary__item-group{
  overflow: hidden;
}

.order-item-group__wrapper{
  display:flex;
  align-items: flex-start;
  transition: transform ease .3s;
}

.order-item-group__wrapper--opened{
  transform: translateX(-100%);
}

.order-promo-item--applied .order-promo-item__btn{
  display:none;
}

.order-promo-item--applied .order-promo-item__price{
  display:block;
}

.order-summary__item--error .order-promo-field__error{
  display:block;
}

.order-summary__item--error .order-promo-field,
.order-summary__item--error .order-promo-item__submit-btn{
  border-color: rgba(218, 34, 41, 0.2);
}

.order-header{
  border-bottom: 1px solid #EBEBEB;
  padding: 20px 0;
}

@media(max-width: 575px){
  .order-header{
    padding: 20px;
  }
}

.order-header .phone-cart-block__item--phone{
  border-right: none;
}

@media(max-width: 1199px){
  .order-header .phone-cart-block__item--phone{
    display: list-item;
  }

  .order-header .phone-cart-block__item--phone i{
    color: #1C498A;
  }
}

.order-steps{
  counter-reset: num;
}

.order-steps .order-step{
  padding-left:50px;
  position:relative;
  padding-bottom: 30px;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
}

.order-steps .order-step:not(:last-of-type){
  border-bottom: 1px dashed #CACACA;
}

.order-steps .order-step:before{
  content: counter(num);
  counter-increment: num;
  position: absolute;
  width: 40px;
  height:40px;
  border: 3px solid #1C498A;
  box-sizing: border-box;
  left: 0;
  border-radius: 50%;
  font-family: Spectral, serif;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  color: #202020;
  display:flex;
  justify-content: center;
  align-items: center;
}

.order-steps .order-step.success:before{
  font-family: "icon-font", sans-serif;
  content: "\E800";
  background-color: #1C498A;
  color: #fff;
}

.order-page__main{
  margin-right:15px;
}

@media(max-width: 600px){
  .order-page__main{
    width:100%;
    padding:20px;
  }
}

.field-group{
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 20px;
  margin-top: 20px;
}

.field-group label{
  font-size: 14px;
  line-height: 22px;
  color: #202020;
}

.field-group.col-6{
  flex:calc(50% - 20px) 0 0;
}

.field-group.col-12{
  flex:100% 0 0;
}

.field-group label span{
  color: #DA2229;
}

.field-group input{
  margin-top: 10px;
  font-size: 14px;
  line-height: 30px;
  color: #636363;
  padding:5px 15px;
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 5px;
  width:100%;
}

.step-title{
  flex-shrink: 0;
  font-family: Spectral, serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 42px;
  color: #202020;
}

@media(max-width: 575px){
  .step-title{
    width:100%;
    line-height: 30px;
  }
}

.radio-group{
  flex: calc(50% - 20px) 0 0;
}

@media(max-width: 1199px){
  .radio-group{
    flex: 100% 0 0;
  }
}

.radio-group input[type=radio]{
  display:none;
}

.radio-group label{
  background: #FFFFFF;
  border: 1px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 5px;
  padding:30px 30px 30px 80px;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
  position:relative;
  width:100%;
}

.radio-group label span {
  font-style: normal;
  font-weight: normal;
  min-height: 25px;
  font-size: 12px;
  line-height: 14px;
  color: #A0A0A0;
  display: block;
  margin-top: 5px;
  margin-left: -13px;
}

.radio-group label span:first-child{
  display:block !important;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #202020;
}

.radio-group label:before{
  content: "";
  width: 35px;
  height: 35px;
  border: 2px solid #EBEBEB;
  box-sizing: border-box;
  border-radius: 50%;
  position: absolute;
  left:25px;
  top: 50%;
  transform: translateY(-18px);
  transition: .3s;
  font-family: "icon-font", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  color: #fff;
}

.radio-group input[type=radio]:checked ~ label:before{
  background: #DA2229;
  border-color: #DA2229;
  content: "\E800";
}

.radio-group label:after{
  content: "";
  display:block;
  width: 50px;
  height:50px;
  position: absolute;
  right:20px;
  top: 50%;
  transform: translateY(-25px);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.radio-group--delivery label:after{
  background-image: url(../img/icons/order-icons/delivery.png);
}

.radio-group--myself label:after{
  background-image: url(../img/icons/order-icons/by-mslf.png);
}

.radio-group--soon label:after{
  background-image: url(../img/icons/order-icons/soon.png);
}

.radio-group--time label:after{
  background-image: url(../img/icons/order-icons/time.png);
}

.radio-group--pay-1 label:after{
  background-image: url(../img/icons/order-icons/pay-1.png);
}

.radio-group--pay-2 label:after{
  background-image: url(../img/icons/order-icons/pay-2.png);
}

.radio-group--pay-3 label:after{
  background-image: url(../img/icons/order-icons/pay-3.png);
}

.radio-group--pay-4 label:after{
  background-image: url(../img/icons/order-icons/pay-4.png);
}

input.col-12{
  width:100%;
}

input.col-3{
  width: calc(25% - 15px);
  display: inline-flex;
}

@media(max-width: 575px){
  input.col-3{
    width:100%;
  }
}

.radio-tab{
  display:flex;
  flex: 100% 0 0;
}

.radio-tab.hidden{
  display:none;
}

.radio-tab .field-group{
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.radio-tab .field-group label{
  flex: 100% 0 0;
}

.doorphone{
  display:none;
}

.doorphone ~ label{
  padding-left: 30px;
  margin-top:30px;
  position: relative;
}

.doorphone ~ label:before{
  content: "\E800";
  font-family: "icon-font", sans-serif;
  color: #fff;
  background-color: #fff;
  border: 2px solid #EBEBEB;
  width: 20px;
  height:20px;
  border-radius: 5px;
  transition: .3s;
  position: absolute;
  left:0;
  top:-1px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.doorphone:checked ~ label:before{
  background-color: #1C498A;
  border-color: #1C498A;
}

.field-group textarea{
  width:100%;
  height:150px;
  resize: none;
  margin-top: 20px;
  padding:10px 15px;
  font-size: 14px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  color: #636363;
}

.field-group .nice-select{
  display:block;
  margin-top: 15px;
}

@media(max-width: 1199px){
  .choose-time-tab{
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .choose-time-tab .field-group{
    flex: auto;
  }
}

.field-group input[type=text].required{
  position:relative;
}

.field-group input[type=text].has-error{
  border: 1px solid rgba(218, 34, 41, 0.2);
}

.error-field{
  font-size: 14px;
  line-height: 30px;
  color: #DA2229;
  display:none;
}

.step-title-block{
  display:flex;
  width:100%;
  flex-shrink: 0;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.bymslf-tab .contacts{
  width:100%;
}

.bymslf-tab .contacts-block__item{
  border-bottom: none;
}

.bymslf-tab .contacts-block__elements{
  display:flex;
  align-items: flex-start;
}

@media(max-width: 1199px){
  .bymslf-tab .contacts-block__elements{
    flex-direction: column;
  }
}

.bymslf-tab .contacts-block__elements .contacts-block__item{
  flex: 33% 0 0;
}

@media(max-width: 1199px){
  .bymslf-tab .contacts-block__elements .contacts-block__item{
    padding: 10px 0;
  }
}

.bymslf-tab i{
  font-size: 18px;
  color: #1C498A;
}

.bymslf-tab .contacts-block__item:not(.phone-block) .contacts-block__text{
  font-size: 14px;
}

.bymslf-tab .contacts-block__item:not(.phone-block) i{
  margin-right: 5px;
}

#shk_prodHelper{
    border:none !important;
    background: rgba(32, 32, 32, 0.9) !important;
    border-radius: 5px !important;
    box-shadow: none !important;
    color: #fff !important;
}

#shk_prodHelper button.shk-but{
    color: #fff;
}

#shk_prodHelper button.shk-but#shk_confirmButton{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    background: #1C498A;
    border-radius: 5px;
    border:none;
    padding:5px;
    cursor: pointer;
}

#shk_prodHelper button.shk-but#shk_cancelButton{
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    border-radius: 5px;
    border:1px solid #1C498A;
    padding:5px;
    cursor: pointer;
    background: transparent;
}

.shopOrderForm input[name="pay-type"] + label {
    display: none;
}

.shopOrderForm label[for="time-1"] span,
.shopOrderForm label[for="time-2"] span{
    display: none;
}

@media (max-width: 730px){
    .top-fact {
        transform: translateY(-270%);
    }
}

@media (max-width: 680px){
    .top-fact {
        transform: translateY(-247%);
    }
}


@media (max-width: 610px){
    .top-fact {
        top: 0;
        transform: translateY(-225%);
    }
}

@media (max-width: 560px){
    .top-fact {
        transform: translateY(-200%);
    }
}

@media (max-width: 500px){
    .top-fact {
        transform: translateY(-180%);
    }
}

@media (max-width:470px){
    .cart-item__info {
        flex-basis: 0;
        width: 260px;
        margin-left:0;
    }
}

@media (max-width: 440px){
    .top-fact {
        transform: translateY(-160%);
    }
}

@media (max-width:385px){
    .top-fact {
        transform: translateY(-140%);
    }
    
    #order-step-1 .field-group.col-6 {
            flex: calc(100% - 20px) 0 0;
    }
    
    .field-group label {
        font-size: 13px;
        padding-right: 60px;
    }
    
    
}

@media (max-width:391px){
    .order-summary__sum {
        margin-top: 15px;
    }
}

@media (max-width: 330px){
    .top-fact {
            transform: translateY(-125%);
    }
}

.overflow-hid{
    overflow-y:hidden;
}

.cart-header span.header-cart__price, .cart-header .header-cart{
    text-decoration: none;
}

@media (min-width:2400px){
    .product-item::after {
        padding-top: 100%;
    }
    
    .fast-view-modal .fancybox-close-small{
        width: 85px;
        height: 85px;
    }
    
   html, .product-item__title, .about-text-block__text, .main-navigation__link, .socials__link, .phone-cart-block__link, .info-block__content p, .info-block__content li, .breadcrumbs__item{
       font-size:1.3em;
   }
   
   .phone-cart-block__item{
       font-size:1.2em;
   }
   
   .menu-item__title{
       font-size:1.1em;
   }
}

@media (max-width:551px){
    .product-card {
        padding:0 20px;
    }
}

@media (max-width:992px){
    .product-info__price-block {
        align-items: center;
    }
    
    .product-info__sale-title {
        display: inline;
    }
}